<!DOCTYPE html>
    <head></head>
    <body>
        <h1>Links</h1>
        <a href="/swaggerdocs">Swagger API documentation</a><br>
        <a href="/apischema">Open Api schema</a><br>
        <a href="/admin">admin </a> username: root,  password: root<br>
        <a href="http://127.0.0.1:8080/"> Home Vue Front End</a>
        <h1>Test Users</h1>
        <li>Username: Tom , Password: password123!</li>
        <li>Username: GoroMajima , Password: password123!</li>
        <li>Username: HankScorpio , Password: password123!</li>
        <li>Username: Barry , Password: password123!</li>
        <li>Username: Pikachu , Password: password123! </li>
        <li>Username: Shredder , Password: password123!</li>
    </body>
</html>